.posibtn2 {
  width: 33%;
  padding: 2.5em;
  position: relative;
  left:31%;
  margin-top: 2%;
  font-size: 20px;
  white-space: normal
}

.input-hidden {
  position: absolute;
  left: -9999px;
  overflow-x: hidden;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 5px 5px #40e0d0;
  overflow-x: hidden;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {

  width: 150px;
  height: 150px;
  transition: 500ms all;
  cursor: pointer;
}

*{font-family: 'Roboto', sans-serif;}

body {
  background: #fff;
  font-family:Palatino Linotype;
  overflow-y:hidden; 
}
body label {
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 0.9em;

}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -85px;
    margin-top: -85px;
    opacity: 0;
  }
}


/*.scroll {
  overflow-y:hidden; 
}

.show{
  overflow-y: show;
}*/

.MarginDirecto {
  margin-left: -15px;
}


.center {
    margin:0 auto;
    text-align: center;
}

.fondo  {
    background-color: #d6f5f3;
}

.thumbnail {
    width: 700px;  
    height: auto;
    box-shadow:4px 2px 22px #080000;
    border-radius: 10px;
    margin-top: 90px;
}

.pregunta {
    color: #222;
    font-family:Palatino Linotype;
    font-size: 1.4em;
}

.posiinput {
  margin-top: 12px;
  margin-left: 10px;

}

.posibtn {
  margin-top: 50px;
  width: 600px;
  margin-left: 60px;
}

.titulopreguntas {
    float: right;
    color: #fff;
    margin-top: 10px;
    font-style: italic;
    font-variant: small-caps;
    font-family:Palatino Linotype;
    
}


#preloader {
  margin-left: -200px;
  margin-top: 120px;
  width: 400px;
  height: 400px;
  position: fixed;
  overflow: none;
}


.imgnav {
    float: left;
    margin:0px 0 -10px 20px;
}

.margin {
    margin: 20px 0 40px 0;
}



.back {
    background-color: #fff;
}


.hr {
    border: 1px solid #ccc;
    width: 70%;
    padding-left: 80px;
}


/*============================================================
-----------------------iNPUT TEXTTAREA------------------------
==============================================================*/


.textarea {
  display:block;
  outline: none;
  color:#000;
  position:relative;
  width: 270px;
  max-width: 600px;
  height: 40px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 25px;
  transition-duration: 1.7s;
  resize: none;
  margin: 0 auto;
  text-indent: 30px;
}

textarea:focus{

font-size: 1.0em;
color: #000;
width: 270px;
height: 80px;
transition-duration: 1.2s;
text-indent: 30px;
}

/*============================================================
--------------------------SELECTOR----------------------------
==============================================================*/

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #788282;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;

}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 40px;
  margin-left: -5px;
  margin-top: -2px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
  outline: none !important;
  margin-left: 40px;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*============================================================
--------------------------ANIMACIONES-------------------------
==============================================================*/

/*.bounceInLeft {
  animation-delay: 4s;
}

.pulse {
  animation-name: pulse;
  animation-iteration-count: 2;
  animation-delay: 5s;
}*/

.fadeIn  { 
  animation-delay: 5s;
  animation-timing-function: ease-in;
}

/*============================================================
--------------------------MEDIA QUERY-------------------------
==============================================================*/

/*============================================================
  Para Dispositivos Maximo 993px a 1200px
==============================================================*/
@media (min-width: 993px) and (max-width: 1199px) {

  body label {
  line-height: 40px;
  display: inline-block;
}

nav {
  width: 100%;
}

.posibtn2 {
  width: 30%;
  padding: 3em;
  position: relative;
  left:32%;
  margin-top: 3%;
  font-size: 16px;
  white-space: normal
}



.imgnav {
    width: 350px;
    margin-left: 20px;
  }

  .imglogo {
  width: 230px;
  height: 210px;
}

.hr {
    border: 1px solid #ccc;
    width: 85%;
    padding-left: 80px;
}

.posibtn {
    margin-top: 50px;
    width: 600px;
    margin-left: 60px;
  }

/*============================================================
-----------------------iNPUT TEXTAREA------------------------
==============================================================*/


.textarea {
  display:block;
  outline: none;
  color:#000;
  position:relative;
  width: 250px;
  max-width: 600px;
  height: 40px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition-duration: 1.7s;
  resize: none;
  text-indent: 0px;
}

textarea:focus{

font-size: 1.0em;
color: #000;
width: 250px;
height: 80px;
transition-duration: 1.2s;
text-indent: 25px;
}

/*============================================================
--------------------------SELECTOR----------------------------
==============================================================*/

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #788282;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: -50px;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;

}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 40px;
  margin-top: -4px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
  outline: none !important;
  margin-left: 40px;
}
.option-input.radio::after {
  border-radius: 50%;
}

footer {
  background-color: #222;
  width: 100%;
}


}

/*============================================================
  Para Dispositivos Maximo 767px a 992px
==============================================================*/
@media (min-width: 767px) and (max-width: 992px) {

 body label {
  line-height: 40px;
  display: inline-block;
}

nav {
  width: 100%;
}

.hr {
    border: 1px solid #ccc;
    width: 85%;
    padding-left: 80px;
}

.posibtn2 {
  width: 35%;
  padding: 3em;
  position: relative;
  left:30%;
  margin-top: 3%;
  font-size: 15px;
  white-space: normal
}


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #788282;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px !important;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.thumbnail {
  width:620px;  
  height: auto;
  box-shadow:4px 2px 22px #080000;
  border-radius: 10px;
  margin-top: 90px;
}

.imgnav {
  width: 240px;
  margin-left: 20px;
}

.posibtn {
    margin-top: 50px;
    width: 530px;
    margin-left: 60px;
  }

.imglogo {
  width: 190px;
  height: 170px;
}

.pregunta {
  color: #222;
  font-family:Palatino Linotype;
  font-size: 1.3em;
}


.textarea {
  display:block;
  outline: none;
  color:#000;
  position:relative;
  width: 200px !important;
  max-width: 800px !important;
  margin: 10px;
  height: 50px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition-duration: 1.7s;
  resize: none;
  text-indent: 0px;
}

textarea:focus{

  font-size: 1.0em;
  color: #000;
  width: 200px;
  height: 100px;
  transition-duration: 1.2s;
  text-indent: 25px;
}

footer {
  background-color: #222;
  width: 100%;
}

}

/*============================================================
  Para Dispositivos Maximo 561px a 767px
==============================================================*/

@media (min-width: 561px) and (max-width: 767px) {

 body label {
  line-height: 40px;
  display: inline-block;
}

nav {
  width: 100%;
}
.posibtn2 {
  width: 35%;
  padding: 3em;
  position: relative;
  left:32%;
  margin-top: 3%;
  font-size: 14px;
  white-space: normal
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #788282;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px !important;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.thumbnail {
  width: 520px;  
  height: auto;
  box-shadow:4px 2px 22px #080000;
  border-radius: 10px;
  margin-top: 90px;
}

.imgnav {
  width: 240px;
  margin-left: 20px;
}

.imglogo {
  width: 190px;
  height: 170px;
}

.pregunta {
  color: #222;
  font-family:Palatino Linotype;
  font-size: 1.3em;
}


.posibtn {
    margin-top: 50px;
    width: 430px;
    margin-left: 60px;
  }



.textarea {
  display:block;
  outline: none;
  color:#000;
  position:relative;
  width: 230px !important;
  margin: 10px;
  max-width: 600px;
  height: 50px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 0 auto;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition-duration: 1.7s;
  resize: none;
  text-indent: 0px;
}


textarea:focus{

  font-size: 1.0em;
  color: #000;
  width: 230px;
  height: 80px;
  transition-duration: 1.2s;
  text-indent: 25px;
}

footer {
  background-color: #222;
  width: 100%;
}

.posiinput{
    margin-left: 1px;
    margin-bottom: 5px;
  }

  

}

/*============================================================
  Para Dispositivos Maximo 401px a 560px
==============================================================*/

@media (min-width: 401px) and (max-width: 560px) {

  body label {
    display: block !important;
  }

  label.posicionInLine {
    display: inline-block;
  }


  nav {
    width: 100%;
  }

   .posibtn2 {
  width: 60%;
  padding: 2em;
  position: relative;
  left:21%;
  margin-top: 3%;
  font-size: 12px;
  white-space: normal
}

  #preloader {
  margin-left: -200px;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  position: fixed;
  overflow: none;
}

  .centrarindirecta label {
    text-align: left;
    margin-left: 70px;
  }

  .centrardirecta label {
    text-align: left;
    margin-left: 85px;
  }

  .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #788282;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  margin-left:  90px !important;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 16.66667px;
  text-align: center;
  line-height: 40px;
  margin-top: 2px;
  margin-left: 0.5px;
}

  .thumbnail {
    width: 390px;  
    height: auto;
    box-shadow:4px 2px 22px #080000;
    border-radius: 10px;
    margin-top: 90px;
  }

  .imgnav {
    width: 220px;
    margin-left: 20px;
  }


  .imglogo {
    width: 160px;
    height: 140px;
  }

  .pregunta {
    color: #222;
    font-family:Palatino Linotype;
    font-size: 1.3em;
  }



  .posibtn {
    margin-top: 50px;
    width: 300px;
    margin-left: 60px;
  }



  .textarea {
    display:block;
    outline: none;
    color:#000;
    position:relative;
    width: 200px;
    margin: 10px;
    max-width: 600px;
    height: 50px;
    border: 3px solid #cccccc;
    padding: 5px;
    margin: 0 auto;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition-duration: 1.7s;
    resize: none;
    text-indent: 0px;
  }

  textarea:focus{

    font-size: 1.0em;
    color: #000;
    width: 200px;
    height: 160px;
    transition-duration: 1.2s;
    text-indent: 5px;
  }

  footer {
    background-color: #222;
    width: 100%;
  }

  .posiinput {
    margin-left: -1px;
    margin-bottom: 2px;
  }



  .input-hidden {
    position: absolute;
    left: -9999px;
  }

  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 5px 5px #40e0d0;
  }

  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {

    width: 100px;
    height: 100px;
    transition: 500ms all;
  }


 }


/*============================================================
  Para Dispositivos Maximo 400px
==============================================================*/

@media only screen and (max-width: 400px) { 

  body label {
    display: block;
  }


  nav {
    width: 100%;
  }

  .posibtn2 {
  width: 60%;
  padding: 2em;
  position: relative;
  left:21%;
  margin-top: 3%;
  font-size: 12px;
  white-space: normal
}

#preloader {
  margin-left: -200px;
  margin-top: 10px;
  width: 400px;
  height: 400px;
  position: fixed;
  overflow: none;
}

  .posibtn {
    margin-top: 250px;
    width: 250px;
    margin-left: 60px;
  }


  .thumbnail {
    width: 280px;  
    height: auto;
    box-shadow:4px 2px 22px #080000;
    border-radius: 10px;
    margin-top: 90px;
  }

  .imgnav {
    width: 150px;
    margin-left: 20px;
  }

  .centrarindirecta label {
    text-align: left;
    margin-left: 60px;
  }

  .centrardirecta label {
    text-align: left;
    margin-left: 75px;
  }

  .imglogo {
    width: 130px;
    height: 110px;
  }

  .pregunta {
    color: #222;
    font-family:Palatino Linotype;
    font-size: 1.2em;
  }

  .posibtn {
    margin: 10px auto; 
  }


  .textarea {
    display:block;
    outline: none;
    color:#000;
    position:relative;
    width: 200px;
    margin: 10px 10px 10px 35px;
    max-width: 600px;
    height: 80px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 5px;
    resize: none;
    text-indent: 0px;
  }

  textarea:focus{

    font-size: 1.0em;
    color: #000;
    width: 200px;
    height: 80px;
    text-indent: 0px;
  }

  footer {
    background-color: #222;
    width: 100%;
  }

  .posiinput {
    margin-left: -1px;
    margin-bottom: 2px;
  }

  .input-hidden {
    position: absolute;
    left: -9999px;
  }

  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 5px 5px #40e0d0;
  }

  /* Stuff after this is only to make things more pretty */
  input[type=radio] + label>img {

    width: 100px;
    height: 100px;
    transition: 500ms all;
  }

}