.center{
	margin: 0 auto;
	text-align: center;
}
.colortitulo {
	background-color: #FF5200;
	color:#fff;
	text-align: center;
}

.texttitulo {
	font-size: 60px;

}

.textoLargo{
	font-size: 35px;
}

.colorfondo1 {
	background-color: #ccc;
}


.fondop {
	background-color: #dce0e2;
}

.bordetotal {
	border: 1px solid #000;
}

.margintop {
	margin-top: 50px;
}

.margin3 {
	margin-top: 5px;
}
